# dependencies
**/node_modules 

# production
**/dist
**/dist-notebook
/powsybl-network-viewer-*.tgz
/powsybl-network-map-layers-*.tgz
/powsybl-sankey-*.tgz

# webstorm
/.idea

# vscode
/.vscode

# vite
/vite.config.ts-timestamp-*

# ESLint
/.eslintcache

# Vitest
/coverage
