# dependencies
/node_modules
/packages/network-map-layers/node_modules

# production
/dist
/powsybl-network-viewer-*.tgz
/packages/network-map-layers/dist

# webstorm
/.idea

# vscode
/.vscode

# vite
/vite.config.ts-timestamp-*

# jest
/coverage
