# dependencies
**/node_modules 

# production
**/dist
/powsybl-network-viewer-*.tgz
/powsybl-network-map-layers-*.tgz

# webstorm
/.idea

# vscode
/.vscode

# vite
/vite.config.ts-timestamp-*

# jest
/coverage
