name: Release

on:
  workflow_dispatch:
    inputs:
      versionType:
        description: version type increment
        required: true
        type: choice
        options:
          - major
          - minor
          - patch
      nodeAuthToken:
        description: NPM automation access token
        required: true
        type: string

permissions:
  contents: write

jobs:
  run-release:
    uses: powsybl/github-ci/.github/workflows/release-frontend-lib-generic.yml@c81718897ef649fcdc685955a094bf724bf7fa9e
    with:
      versionType: ${{ github.event.inputs.versionType }}
      nodeAuthToken: ${{ github.event.inputs.nodeAuthToken }}
      githubappId: ${{ vars.POWSYBL_ACTIONS_APPID }}
    secrets:
      VERSIONBUMP_GHAPP_PRIVATE_KEY: ${{ secrets.VERSIONBUMP_GHAPP_PRIVATE_KEY }}
